<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
</header>

<nav>
<span><a title="登录" href="/login">登录</a></span>
<span><a title="上电" href="/OnPower">上电</a></span>
<span><a title="下电" href="/DisablePower">下电</a></span>
<span><a title="关节坐标" href="/JointPos">关节坐标</a></span>
<span><a title="笛卡尔坐标" href="/CartPos">笛卡尔坐标</a></span>
</nav>

<article>